.footer {
    position: flex;
    margin-top: 50vh;
    margin-bottom: 100Vh;
} 

.text-format{
    text-decoration: none;
    color: black;
}

.text-size{
    font-size: 20px;
}

.movies-list{
    font-size: 18px;
}